.maintitle {
    font-family: 'Libre Barcode 128 Text', cursive;
    font-size: 80px;
    padding: 20px;
    width: 67.5vw;
    padding-left: 5%;
    background-color: var(--colour-4);
    color: var(--colour-2);
    margin-left: 3.95%;
    padding-bottom: 100px;
    text-shadow: magenta 2px 1px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.socials {
    list-style-type: none;
    font-family: 'Oswald', sans-serif;
    font-size: 27px;
    padding: 20px;
    width: 15vw;
    background-color: magenta;
    color: var(--colour-4);
    margin-right: 3.95%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.box_style {
    float: left;
    margin-top: 20px;
}

body {
    background-image: url(sun.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.nav {
    position: absolute;
    margin-top: 150px;
    float: left;
    margin-left: 4%;
    padding: 20px, 25px;
    width: 73vw;
    border-radius: 2px;
    border-style: double;
    border-color: magenta;
    border-left-color: var(--colour-4);
    padding-top: 5px;
}

.active {
    color: #264e4e;
}

.links {
    font-family: 'Press Start 2P', cursive;
    font-size: 15px;
    text-decoration: none;
    color: var(--colour-9);
    padding-left: 30px;
    padding-right: 30px;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.medialinks {
    color: var(--colour-4);
    text-decoration: none;
}

.links:hover {
    background-color: var(--colour-4);
    color: var(--colour-2);
    border-style: solid;
    border-width: 5px;
    border-bottom-color: magenta;
    border-right-color: magenta;
    padding: 15px;
    border-radius: 3px;
    text-shadow: magenta 0.5px 1px;
}

.medialinks:hover {
    color: var(--colour-2);
    text-shadow: var(--colour-3) 1px 1px;
}

.pstyle {
    float: left;
    background-color: var(--colour-9);
    padding: 20px;
    border-radius: 10px;
    margin-left: 3.95%;
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--colour-8);
    margin-right: 10px;
    border-width: 2.7px;
    border-color: magenta;
    border-style: dotted;
    box-shadow: var(--colour-2) 2px 3px;
    font-size: 20px;
    text-shadow: magenta 0.5px 1px;
    -webkit-animation: glow 7s ease-in-out infinite alternate;
    -moz-animation: glow 7s ease-in-out infinite alternate;
    animation: glow 7s ease-in-out infinite alternate;
}

.pstyle_2 {
    float: left;
    background-color: var(--colour-6);
    padding: 20px;
    border-radius: 10px;
    margin-left: 3.95%;
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--colour-8);
    margin-right: 10px;
    border-width: 2.7px;
    border-color: magenta;
    border-style: dotted;
    box-shadow: var(--colour-2) 2px 3px;
    font-size: 20px;
    text-shadow: magenta 0.5px 1px;
    -webkit-animation: glow 7s ease-in-out infinite alternate;
    -moz-animation: glow 7s ease-in-out infinite alternate;
    animation: glow 7s ease-in-out infinite alternate;
}

.merch {
    display: flex;
    align-items: flex-start;
    background-color: #a2f5f5;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(84, 255, 169);
}

.merch_2 {
    display: flex;
    align-items: flex-start;
    background-color: var(--colour-8);
    border-radius: 10px;
}

.merch_items {
    margin: 1.5%;
    width: 30%;
    border-color: rgb(84, 255, 169);
    border-style: solid;
    border-radius: 5px;
}

h2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
}

.smallbox {
    max-width: 27.5%;
    margin-right: 3.95%;
    margin-left: 1%;
    min-height: 1000px;
}

.image{
    width: 70%;
    margin:2%;
    border-color: var(--colour-2);
    border-width: 5px;
    border-radius: 10px;
    border-style: double;
}

.flex {
    display: flex;
    align-items: flex-start;
}

:root {
    --colour-1: #e3568c;
    --colour-2: #56fcf9;
    --colour-3: #eb1b6b;
    --colour-4: rgb(5, 8, 23);
    --colour-5: #4900ff;
    --colour-6: #1e0069;
    --colour-7: #2b0096;
    --colour-8: #290092;
    --colour-9: #cafefe;
}

@-webkit-keyframes glow {
    from {
      box-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #00dbe6, 0 0 8px #00e6e6, 0 0 10px #00e2e6, 0 0 12px #00c4e6, 0 0 14px #00e2e6;
    }
    to {
      box-shadow: 0 0 4px #fff, 0 0 6px #ff4da6, 0 0 8px #ff4da6, 0 0 10px #ff4da6, 0 0 12px #ff4da6, 0 0 14px #ff4da6, 0 0 16px #ff4da6;
    }
  }