.maintitle {
    font-family: 'Libre Barcode 128 Text', cursive;
    font-size: 60px;
    padding: 20px;
    padding-right: 42%;
    padding-left: 5%;
    background-color: var(--colour-4);
    color: var(--colour-2);
    margin-left: 3.95%;
    padding-bottom: 110px;
    text-shadow: magenta 2px 1px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.socials {
    list-style-type: none;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    padding: 20px;
    padding-right: 87px;
    background-color: magenta;
    color: var(--colour-4);
    margin-right: 3.95%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.box_style {
    float: left;
    margin-top: 20px;
}

body {
    background-image: url(background.gif);
}

.nav {
    position: absolute;
    margin-top: 150px;
    float: left;
    background-color: var(--colour-4);
    margin-left: 3.95%;
    padding: 20px, 25px;
    padding-right: 415px;
    border-radius: 2px;
    border-style: double;
    border-color: magenta;
    border-left-color: var(--colour-4);
    padding-top: 5px;
    border-right-style: solid;
}

.active {
    color: #56fcf9;
}

.links {
    font-family: 'Press Start 2P', cursive;
    font-size: 15px;
    text-decoration: none;
    color: var(--colour-9);
    padding-left: 30px;
    padding-right: 30px;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.medialinks {
    color: var(--colour-4);
    text-decoration: none;
}

.links:hover {
    background-color: var(--colour-4);
    color: var(--colour-2);
    border-style: solid;
    border-width: 5px;
    border-bottom-color: magenta;
    border-right-color: magenta;
    padding: 15px;
    border-radius: 3px;
    text-shadow: magenta 0.5px 1px;
}

.medialinks:hover {
    color: var(--colour-2);
    text-shadow: var(--colour-3) 1px 1px;
}

.pstyle {
    float: left;
    background-color: var(--colour-9);
    opacity: 90%;
    padding: 20px;
    border-radius: 10px;
    margin-left: 3.95%;
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--colour-8);
    margin-right: 10px;
    border-width: 2.7px;
    border-color: magenta;
    border-style: dotted;
    box-shadow: var(--colour-2) 2px 3px;
    font-size: 20px;
    text-shadow: magenta 0.5px 1px;
}

.pstyle:hover {
    -webkit-animation: glow 3s ease-in-out infinite alternate;
    -moz-animation: glow 3s ease-in-out infinite alternate;
    animation: glow 3s ease-in-out infinite alternate;
}

h2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
}

.smallbox {
    max-width: 27.5%;
    margin-right: 3.95%;
    margin-left: 1%;
    min-height: 1000px;
}

.flex {
    display: flex;
    align-items: flex-start;
}

:root {
    --colour-1: #e3568c;
    --colour-2: #56fcf9;
    --colour-3: #eb1b6b;
    --colour-4: rgb(23, 5, 17);
    --colour-5: #4900ff;
    --colour-6: #1e0069;
    --colour-7: #2b0096;
    --colour-8: #290092;
    --colour-9: #cafefe;
}

@-webkit-keyframes glow {
    from {
      box-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #e60073, 0 0 8px #e60073, 0 0 10px #e60073, 0 0 12px #e60073, 0 0 14px #e60073;
    }
    to {
      box-shadow: 0 0 4px #fff, 0 0 6px #ff4da6, 0 0 8px #ff4da6, 0 0 10px #ff4da6, 0 0 12px #ff4da6, 0 0 14px #ff4da6, 0 0 16px #ff4da6;
    }
  }